name: Build Pull Request
on: [pull_request]
jobs:
  build_pr:
    name: Check PR if can build
    if: github.repository_owner == 'OneLiteFeatherNET'
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [ubuntu-latest, windows-latest, macos-latest]
    steps:
      - name: Checkout Repository
        uses: actions/checkout@v5
      - name: Setup Gradle
        uses: gradle/actions/setup-gradle@v5
      - name: Setup Java
        uses: actions/setup-java@v5
        with:
          distribution: temurin
          java-version: 21
      - name: Build on ${{ matrix.os }}
        run: ./gradlew clean build
